body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Didact Gothic", sans-serif;
  color: white;
}

#main-head {
  background-color: midnightblue;
  color: white;
}

#heading-divider {
  width: 70px;
  border: 2px solid;
}

.slide {
  width: 645px;
  height: fit-content;
  border: none;
}

.slide-button {
  background-color: midnightblue;
  border: 1px solid turquoise;
  color: white;
  font-size: 24px;
  margin-top: 250px;
  padding: 15px;
  border-radius: 3px;
}

.btn,
.mc-btn {
  background-color: midnightblue;
  border: 1px solid turquoise;
  border-radius: 3px;
  color: white;
  margin: 20px;
}

.wolf-container {
  height: fit-content;
}
.card-img-top,
.wolf-img {
  width: 100%;
  height: auto;
}

form {
  padding: 20px;
}

#answer {
  display: none;
}
