* {
  background-color: white;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Didact Gothic", sans-serif;
}

header,
h1 {
  background-image: linear-gradient(to bottom right, #8553b3, #d8bde2, #df9ad8);
}

img {
  max-width: 100%;
  height: auto; /* default */
}

#answer {
  display: none;
}
