* {
  background-color: white;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Didact Gothic", sans-serif;
  text-shadow: 1px 1px grey;
}

#main-head {
  background-color: #233346;
  color: white;
  border-bottom: 5px solid #00b3cc;
}

#heading-divider {
  width: 70px;
  border: 2px solid;
}

.slide {
  width: 645px;
  height: fit-content;
  border: none;
}

.slide-button {
  background-color: #00b3cc;
  border: 1px solid #233346;
  color: white;
  font-size: 24px;
  margin-top: 250px;
  padding: 15px;
  border-radius: 3px;
}

.btn,
.mc-btn {
  background-color: #00b3cc;
  border: 1px solid #233346;
  border-radius: 3px;
  color: white;
}

.wolf-container {
  height: fit-content;
}
.card-img-top,
.wolf-img {
  width: 100%;
  height: auto;
}

form {
  padding: 20px;
}

#answer {
  display: none;
}
